<mat-accordion>
  <mat-expansion-panel *ngFor = "let post of Posts$">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{post.title}}
      </mat-panel-title>
    </mat-expansion-panel-header> 
     {{post.body}}   
  </mat-expansion-panel>
</mat-accordion>
