
  <div *ngIf = "!(authors$ | async)"><h1>Loading...</h1></div>
  <mat-selection-list #authors>
      <mat-list-item *ngFor="let arr of authors$ | async">
          <mat-list-option>
        <div *ngIf="arr.id == id;else other"> {{author}}</div>
        <ng-template #other>{{ arr.author }} </ng-template>
      
        </mat-list-option>
        <a routerLink="/editauthor/{{arr.id}}" routerLinkActive="active">Edit Author</a> 
      </mat-list-item>
    
    </mat-selection-list>
    
    <p>
      Options selected: {{authors.selectedOptions.selected.length}}
    </p>
    
    <mat-card>
        <h3>Add Author</h3>
        <form #tempForm="ngForm" (ngSubmit)="add()">
          <div class="example-container">
            <mat-form-field>
              <input matInput placeholder="author name" [(ngModel)] = "newauthor"
                               name = "newauthor"
                               required #spy
                               #temp = "ngModel">
              <mat-error *ngIf="!(temp.valid || temp.pristine)">
                Temperature is required
              </mat-error>                        
            </mat-form-field>
        
            
            <div >
                <button mat-raised-button color="primary" [disabled]="!tempForm.form.valid">Primary</button>
            </div>
          </div>
        </form>
        </mat-card>